<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.unt.sell.contextmon"
    android:versionCode="7"
    android:versionName="1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <!-- Required if you want to see outgoing calls -->
    <!-- <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" /> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="ContextMon"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="ContextMon" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".contentprovider.BroadcastContentProvider"
            android:authorities="edu.unt.sell.contextmon"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <service
            android:name=".BroadcastMonitoringService"
            android:label="Latest broadcast&apos;s action is:" >
        </service>

        <service
            android:name=".SyncService"
            android:label="Last sync was:">
        </service>

        <receiver
            android:name=".AnyBroadcastReceiver"
            android:process=":receiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
